# Entorno Virtual
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class


# MLflow (Para que no se suban los experimentos locales)
mlruns/
mlartifacts/

# Configuraciones de VS Code
.vscode/

# Variables de entorno (donde guardarías contraseñas o API Keys)
.env

# Excepción para GitHub Actions
!.github/

# MLflow (Para que no se suban los experimentos locales)
mlruns/
mlartifacts/
mlflow.db